.supchat_wrapper {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    height: calc(100% - 120px);
}

.supchat_wrapper_collapsed {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.supchat_fireframe_wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    max-height: 704px;
    height: 100%;
}

.supchat_fireframe_wrapper_collapsed {
    display: none;
}

.supchat_iframe {
    height: 100%;
}

.supchat_fab {
    width: 64px;
    height: 64px;
    background: #2a8eff;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0 4px 12px;
    transition: box-shadow 1s ease 0s;
}

.supchat_chat_window_wrapper_expanded {
    visibility: visible;
    z-index: 2147483000;
    bottom: 100px;
    width: 376px;
    margin-bottom: 20px;
    height: 100%;
    min-height: 250px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 5px 40px;
    border-radius: 8px;
    overflow: hidden;
    animation: supchat_window_expand 0.5s;
    animation-fill-mode: both;
}

.supchat_chat_window_wrapper_default {
    visibility: hidden;
}

.supchat_chat_fab_icon_default {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url('../fab/supchat_fab.svg') no-repeat center;
}

.supchat_chat_window_wrapper_collapsed {
    z-index: 2147483000;
    bottom: 100px;
    width: 376px;
    margin-bottom: 20px;
    height: 100%;
    min-height: 250px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 5px 40px;
    border-radius: 8px;
    overflow: hidden;
    animation: supchat_window_collapse 0.2s;
    animation-fill-mode: both;
}

@keyframes supchat_window_expand {
    0% {
        /*bottom: 100px;*/
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        /*top: 0;*/
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes supchat_window_collapse {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(40px);
    }
}

.supchat_fab_icon_expanded {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url('../fab/supchat_fab_close.svg') no-repeat center;
    animation: supchat_fab_expand 0.5s both;
}

.supchat_fab_icon_collapsed {
    display: inline-block;
    width: 48px;
    height: 48px;
    animation: supchat_fab_collapse 0.5s both;
}

@keyframes supchat_fab_expand {
    0% {
        background: url('../fab/supchat_fab.svg') no-repeat center;
        transform: rotateZ(30deg);
    }

    50% {
        transform: rotateZ(0deg) scaleX(0.8) scaleY(0.8);
        background: url('../fab/supchat_fab_close.svg') no-repeat center;
    }

    100% {
        transform: scaleX(1) scaleY(1);
        background: url('../fab/supchat_fab_close.svg') no-repeat center;
    }
}

@keyframes supchat_fab_collapse {
    0% {
        background: url('../fab/supchat_fab_close.svg') no-repeat center;
        transform: rotateZ(30deg);
    }

    50% {
        transform: rotateZ(0deg) scaleX(0.8) scaleY(0.8);
        background: url('../fab/supchat_fab.svg') no-repeat center;
    }

    100% {
        transform: scaleX(1) scaleY(1);
        background: url('../fab/supchat_fab.svg') no-repeat center;
    }
}